<h1>博文列表</h1>
<hr/>
<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
    <th>操作</th>

  </tr>


<div id="primary" class="showcase" >
	<div id="content" role="main" >
		<%= render  :partial =>'welcome/info' %>
	</div>
</div>
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= link_to truncate(strip_tags(post.content.html_safe()),:length => 180), post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %>|<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
